<h1>Exigentiam requirements management tool</h1>
<br/><br/>
<p style="text-align: justify"><strong>Exigentiam</strong> is a requirements management tool for project teams. Teams can author and share their
  requirements using familiar document-based methods, while using database capabilities such as traceability and impact
  analysis. This can improve communication and requirements management, increase quality and speed time to market.<br/><br/>

<strong>Exigentiam</strong> will steer your team through the milestones of every project avoiding obstacles that delay
  schedules and inflate budgets. Whether your team is collaborating or validating, Exigentiam has the
  functionality that keeps them focused, engaged, and up-to-date.<br/><br/>


<strong>Exigentiam</strong> will allow you to:
<ul>
  <li>Manage complexity with detailed traceability views that display relationships.</li>
  <li>Improve collaboration for geographically distributed teams through fully functional, scalable web interface.</li>
  <li>Capture and analyze requirements information.</li>
  <li>Increase productivity by tracking changes.</li>
</ul>
</p>